numpy
pandas
Flask
pymongo
scikit-learn

matplotlib
seaborn

python-dotenv
openai
gunicorn
faiss-cpu

flask_cors


bcrypt
PyJWT

langchain
langchain-groq
langchain-core


crewai
pydantic
groq
langchain-google-genai